body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(0,150,255);
    background: linear-gradient(0deg, rgba(0,150,255,1) 0%, rgba(0,215,255,1) 35%, rgba(114,255,255,1) 100%); 
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 415px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 355px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 325px) {
    html {
        font-size: 11px;
    }
}

@media (max-width: 300px) {
    html {
        font-size: 10px;
    }
}

button {
    background-color: #5800FF;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border-radius: .25rem;
    border: none;
    padding: .35em 1em;
    cursor: pointer;
    transition: opacity 0.005s;
}

button:hover {
    opacity: 0.85;
}

button:active{
    opacity: 0.7;
}

.to-do-list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    max-width: 26.25rem;
    padding: 1.5em;
    background-color: #faffff;
    border-radius: .5rem;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.task-input-container {
    flex: 1;
    margin-right: 3em;
}

.task-input {
    border: solid .0625rem gray;
    border-radius: .25rem;
    width: 100%;
    font: .75rem;
    padding: .35em .75em;
    outline: none;   
}

.task-input::placeholder {
    font-size: 1rem;
}

.mid-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.mid-section-tabs{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-right: 2em;
}

.mid-section input {
    display: none;
}

.mid-section label {
    color: #0a001d;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 .0625em;
    padding-bottom: .0625em;
}

#All:checked + .all,
#Pending:checked + .pending,
#Completed:checked + .completed {
    color: #5800FF;
    border-bottom: solid .125rem #5800ff;
}

.bottom-section {
    width: 100%;
}

.task-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .5em;
    padding-left: 0;

}

.task-checkbox {
    margin: 0;
    margin-right: .625em;
    margin-top: .625em;
    align-self: start;
    /* width: 16px;
    height: 16px; */
}

.task-value {
    margin: 0;
    line-height: 2rem;
    /* word-wrap: nowrap; */
}

.task-checkbox:checked {
    accent-color: #5800FF;
}

.task-checkbox:checked + .task-value {
    text-decoration: line-through;
}
